apply from: "$rootDir/build-common/building/build_android_library.gradle"

dependencies {
    implementation "org.jetbrains.kotlin:kotlin-stdlib:$libraries.kotlin"
    implementation "org.jetbrains.kotlin:kotlin-reflect:$libraries.kotlin"
    implementation "org.jetbrains.kotlinx:kotlinx-coroutines-core:$libraries.kotlin_coroutines"

    {{#moshi}}
    {{^moshiCodeGen}}
    implementation "com.squareup.moshi:moshi-kotlin:$libraries.io.moshi"
    {{/moshiCodeGen}}
    implementation "com.squareup.moshi:moshi-adapters:$libraries.io.moshi"
    {{#moshiCodeGen}}
    implementation "com.squareup.moshi:moshi:$libraries.io.moshi"
    kapt "com.squareup.moshi:moshi-kotlin-codegen:$libraries.io.moshi"
    {{/moshiCodeGen}}
    {{/moshi}}
    {{#gson}}
    implementation "com.google.code.gson:gson:2.8.6"
    {{/gson}}
    {{#jackson}}
    implementation "com.fasterxml.jackson.module:jackson-module-kotlin:2.10.2"
    implementation "com.fasterxml.jackson.datatype:jackson-datatype-jdk8:2.10.2"
    implementation "com.fasterxml.jackson.datatype:jackson-datatype-jsr310:2.10.2"
    {{/jackson}}
    {{#jvm-okhttp3}}
    implementation "com.squareup.okhttp3:okhttp:3.12.6"
    {{/jvm-okhttp3}}
    {{#jvm-okhttp4}}
    implementation "com.squareup.okhttp3:okhttp:4.2.2"
    {{/jvm-okhttp4}}
    {{#threetenbp}}
    implementation "org.threeten:threetenbp:$libraries.threetenbp"
    {{/threetenbp}}
    {{#jvm-retrofit2}}
    implementation "com.squareup.retrofit2:retrofit:$libraries.io.retrofit"
    {{#gson}}
    implementation "com.squareup.retrofit2:converter-gson:$libraries.io.retrofit"
    {{/gson}}
    {{#moshi}}
    implementation "com.squareup.retrofit2:converter-moshi:$libraries.io.retrofit"
    {{/moshi}}
    implementation "com.squareup.retrofit2:converter-scalars:$libraries.io.retrofit"
    {{/jvm-retrofit2}}
    testImplementation "io.kotlintest:kotlintest-runner-junit5:3.1.0"
}
